{% extends 'octet/base.html' %}
{% block title%} Services{%endblock%} 
{% block content %}

<!-- Using a CDN -->
<script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>


    <section class=" hero ">
        <div class="flex items-center justify-center lm-5px h-screen  ">
            <div id="animatedText" class="font-bold text-7xl" >Octet Systems:</div>
                <script class = "text-5xl">
                    new TypeIt('#animatedText', {
                    strings: 'The following are the promises we are making to your business',
                    speed: 75,
                    loop: true,
                    }).go();
                </script>
                
            </div>
        </div>

    </section>
    <br>

    <div class="max-w-lg text-center flex-none">
         <div id="animatedNetwork" class="font-bold text-4xl" ></div>
         <script class = "text-2xl">
            new TypeIt('#animatedNetwork', {
            strings: 'Networks:',
            speed: 75,
            loop: true,
            }).go();
        </script>
        </h1>
    </div>
    <br>
    <section class="flex items-center justify-center h-screen bg-gray-100 rounded">  
        
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
    </section>
<br>
    <div class="max-w-lg text-center ">
        <h1 class="text-5xl text-gray-800 font-bold">Cyber Security</h1>
    </div>
<br>
    <section class="flex items-center justify-center h-screen bg-gray-100 rounded">  
        
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-8 lg:grid-cols-2 w-1/2">
            <div class="card rounded-lg shadow-md overflow-hidden">
                <img src="static/cybersec.jpg" alt="Product 1" class="w-full h-48 object-cover">
                <div class="p-4">
                    <h3 class="text-lg font-bold mb-2 text-gray-800">Cyber Security</h3>
                    <p class="text-base text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                
                </div>
            </div>
        </div>
    </section>
    
{% endblock content %}