{% extends 'octet/base.html' %}
{%block title %}Our Services {% endblock %}
<section class=" hero ">
    <div class="flex items-center justify-center h-screen bg-gray-100 rounded">
        <div class="max-w-lg text-center ">
            <h1 class="text-5xl text-gray-800 font-bold">The following are the promises we are making to your business</h1>
            <a href="#" class="button px-4 py-2 text-lg text-white bg-blue-600 hover:bg-blue-900 rounded-md mb-6">Learn More</a>
        </div>
    </div>
</section>